

/* Lattice CSS */
.lattice-container {
	width: 700px;
	display:table;
	margin: 0 auto;
	
}

.body {
	background-color: #F5F5F5;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	text-align:center; 
    vertical-align:middle;
}

.index-message {
	margin-top: 150px;
	text-align:center; 
    vertical-align:middle;
}

.header h1, .header h3, .header h4 {
	text-align: center; 
    vertical-align: middle;
    margin: 3px;
}

.header h1 {
	background-color: #C2C2C2;
	border-bottom: 2px solid black;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;

}

.header {
	background-color: #F0F0F0;
	padding-bottom: 15px; 
}

.valid-states-text {
	text-align:center; 
    vertical-align:middle;
    margin-bottom: 8px;
}

.state-types {
	margin-top: 8px;
}

.state-types table {
	float: left;
	margin-left: 8px;
}

.aux-ended {
	margin-top: 8px;
}

th {
	background-color: #C2C2C2;
}

.lattice-detail-states tr:not([data-end-state='dead']) {
	background-color: #C6E270;
}

.lattice-detail-states tr[data-end-state='dead'] {
	background-color: #FF9898;
}

.accepted-state {
	background-color: #C6E270;
}

.lattice-detail-states col {
	width: 33%;
}

.lattice {
	background-color: #C2C2C2;
	display: table-row;
	margin-bottom: 15px;
}

.lattice-detail-container {
	display: block;
	padding-top: 10px;
}

.lattice-detail-states {
	width: 50%;
	margin: 0px;
	float: left;

}

.state-table {
	margin-top: 8px;
}

.lattice-detail-pos-states {
	width: 50%;
	margin: 0px;
	float: right;
}

.existential-column {
	float:left;
	width: 100px;
	height: 100px;
}

.existential-edge-0 {
	width: 100px;
	height: 0px;
	border-bottom: 4px solid #C2C2C2;
}

.existential-edge-1 {
	margin-top: 20px;
	margin-right: -21px;
	float: right;
	width: 46px;
	height: 0px;
	border-bottom: 4px solid #C2C2C2;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

.existential-edge-2 {
	width: 100px;
	height: 44px;
	border-bottom: 4px solid #C2C2C2;
}

.existential-edge-3 {
	margin-top: 20px;
	margin-right: -21px;
	float: right;
	width: 46px;
	height: 0px;
	border-bottom: 4px solid #C2C2C2;
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
}

.existential-edge-4 {
	width: 100px;
	height: 44px;
	border-bottom: 4px solid #C2C2C2;
}

/* Leading edge */
.existential-edge-5 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	margin-top: -76px;
	margin-left: -20px;
	float: left;
	width: 46px;
	height: 0px;
	border-bottom: 4px solid #C2C2C2;
}

.existential-edge-6 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	margin-top: -26px;
	margin-left: -20px;
	float: left;
	width: 46px;
	height: 0px;
	border-bottom: 4px solid #C2C2C2;
}

.valid [data-e-edge='1'] {
	border-color: black;
}

.valid.current [data-e-edge='1'] {
	border-color: green;
}

.invalid.current [data-e-edge='1'] {
	border-color: red;
}

.main-content {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 15px;
}

.hide {
	display: none;
}

.navigation-left {
	width: 15%;
	display: inline-block;
	text-align:center; 
    vertical-align:middle;
}

.main-content {
	width: 75%;
	display: inline-block;
	height: 100%;
	position: absolute;
}

.navigation-left {
	background-color: #F0F0F0;
	padding-bottom: 15px;
}

.navigation-left h2:first-child {
	margin-top: 0;
}

.navigation-left h2, .navigation-left h3 {
	margin-bottom: 5px;
	background-color: #C2C2C2;
	border-bottom: 2px solid black;
}
