<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<html>

<div class="main-container">
	<div class="header">
		<h1>Self-Avoiding Walks in a 3xN Lattice</h1>
		<h3>Sean Robbins, Jacob Combs, and Matthew Hardwick</h3>
		<h4>Sonoma State University, CS 454: Theory of Computation, Dr. B. Ravikumar</h4>
	</div>

	<div class="navigation-left">
		{% for file_list in viewModel|reverse %}
			<h2>{{ file_list|capitalize }} Inputs</h2>
			{% for file in viewModel[file_list] %}
				<a href="example/{{ file_list }}/{{ file['id'] }}">{{file['filename']}}</a><br />
			{% endfor %}
		{% endfor %}
	</div>
	<div id="container" class="main-content">
		<div class="index-message">
			<div>
			<h3>Click an input on the left to see an animation for the given test input.</h3>
			<h4>Prior to the animation, the given input is processed by agorithm defined in our report.</h4>
			</div>
		</div>
	</div>
</div>

<script>
	$('a').click(function () {
		$('#container').load($(this).attr('href'));
		return false;
	});
</script>
</html>
