<!DOCTYPE html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
<div class="main-container">
	<div class="header">
		<h1>Self-Avoiding Walks in a 3xN Lattice</h1>
		<h3>Sean Robbins, Jacob Combs, and Matthew Hardwick</h3>
		<h4>Sonoma State University, CS 454: Theory of Computation, Dr. B. Ravikumar</h4>
	</div>

	<div class="navigation-left">
		<div>
			<h2>Navigation</h2>
			<a href="/">Home</a>
		</div>
		<div>
			<h3>Resources</h3>
			<a href="https://github.com/matthewhardwick/self-avoding-walks">Research Repository</a><br />
			<a href="https://github.com/matthewhardwick/cs454-final-project-heroku">Demo Repository</a><br />
		</div>
		<div class="input-select">
			{% for file_list in viewModel|reverse %}
				<div>
					<h3>{{ file_list|capitalize }} Inputs</h3>
					{% for file in viewModel[file_list] %}
						<a href="example/{{ file_list }}/{{ file['id'] }}">{{file['filename']}}</a><br />
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div id="container" class="main-content">
		<div class="index-message">
			<div>
			<h3>Click an input on the left to see an animation for the given test input.</h3>
			<h4>Prior to the animation, the given input is processed by agorithm defined in our report.</h4>
			</div>
		</div>
	</div>
</div>

<script>
	$('.input-select a').click(function () {
		$('#container').load($(this).attr('href'));
		return false;
	});
</script>
</html>
