<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<html>

<div class="main-container">
<div class="row">
	<div class="navigation-left">
	<h2>Good Inputs</h2>
	{% for file in viewModel['pass_files'] %}
		<a href="example/pass/{{ file['id'] }}">{{file['filename']}}</a><br />
	{% endfor %}
	<br />
	<h2>Bad Inputs</h2>
	{% for file in viewModel['fail_files'] %}
		<a href="example/fail/{{ file['id'] }}">{{file['filename']}}</a><br />
	{% endfor %}
	</div>
	<div id="container" class="main-content">
		<div class="windows8 hide">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall">
				</div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall">
				</div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall">
				</div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall">
				</div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall">
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script>
	$('a').click(function () {
		$('#container').load($(this).attr('href'));
		return false;
	});

	$('#get_sample').click(function (evt) {
		$('.lattice-container').remove()
		$('.windows8').removeClass("hide");
		$.get("example/pass/1", function (data) {
			$('.windows8').addClass("hide");
			$("#container").append(data);
			console.log("load performed");
		})
	});
</script>
</html>
